.rack {
    display: grid;
    max-width: 10vw;
    border-style: solid;
}

.halved {
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
}
.halved .server {
    width: 100%;
}

.server {
    background-color: green;
    margin: 2px;
}

.server_mini_overlay {
    background-color: greenyellow;
    opacity: 0;
    position: fixed;
    /* margin-left: 7vw; */
}
.server:hover + .server_mini_overlay {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}